[submodule "os"]
	path = os
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "RF24"]
	path = RF24
	url = https://github.com/xeedjr/RF24.git
[submodule "src/devices_chibios_hal"]
	path = src/devices_chibios_hal
	url = https://github.com/xeedjr/devices_chibios_hal.git
